# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/app/local.properties
android/app/generated_sigin_config.gradle
android/app/google-services.json
android/build/
android/.gradle/
*.iml
*.jks

# iOS/macOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
macos/Flutter/GeneratedPluginRegistrant.swift

# Operating System files
.DS_Store
Thumbs.db
